header{
    position: fixed;
    display: flex;
    height: 70px;
    background-color: #93684C;
    justify-content: space-between;
    padding-left: 0px;
    align-items: center;
    width:100%;
}

nav {
    display: flex;
    gap: 30px;
    padding-right:60px;
}
nav a{
    font-family: 'Mulish', sans-serif; ;
    text-decoration: none;
    color: white;
    height: 1.5rem;
    
}


nav a:hover{
    background-color: #6F4C35;
    border-radius: 10px;
    transition: all 0.5s;
}